.bg-image-full {
    padding-top: 75px;
    background-image: linear-gradient(#aebddb,#234588, white)
  }

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .marquee {
    animation: marquee 20s linear infinite;
    width: 200%; /* para dar o efeito de loop contínuo */
  }
  
  .marquee > img {
    flex-shrink: 0;
  }
  